<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCj-K2o6yX68B9EM6pH0qVFH-kWTsjQFM</string>
	<key>GCM_SENDER_ID</key>
	<string>255068066537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>demo11-27cc3</string>
	<key>STORAGE_BUCKET</key>
	<string>demo11-27cc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255068066537:ios:8ca70bb11eea49177a9678</string>
</dict>
</plist>